<!DOCTYPE html>
<html>
  <head>
    <title>Ttest01</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to '備蓄品一覧', stockitems_path %></li>
        <li><%= link_to '備蓄品登録', new_stockitem_path %></li>
      </ul>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <!-- 他のフッターやスクリプトなど -->

  </body>
</html>
